.square {
  height: 25px;
  width: 25px;
  margin: 5px;
  border: 3px solid white;
}

.legendItem {
  display: flex;
}

.legendText {
  display: contents;
  border: black solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(35, 35, 35, 0.6);
  min-width: 25em;
  height: 1.5em;
  font-size: 0.8em;
  z-index: 1;
}

.simpleViewContainer {
  margin: 72px 64px 0px 64px;
}

.foodLegendList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
