.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* FoodTimer */
#foodTimerContainer{
  position: absolute;
  top: 10px;
  left: 10px;
  border: black solid 1px;
}

.timerComponent{
  border: black solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(20,20,20, 0.6);
  width: 75vw;
  height: 1.5em;
  font-size: 0.6em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.itemName{
  width: 5em;
  text-align: start;
}

.timerInformation{
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.removeBtn{
  height: 2em;
  width: 5em;
}

/* FoodTimerList */
#addItemBtn{
  position: absolute;
  top: 10px;
  right: 10px;
}

#endSession{
  position: absolute;
  bottom: 10px;
  left: 47vw;
}