/* FoodTimerList */

#endSession {
  position: absolute;
  bottom: 10px;
  left: 47vw;
}

.potImgContainer {
  position: absolute;
  top: 25vh;
  left: 20vw;
  right: 20vw;
  background: transparent;
  width: auto;
}

.rightPot {
  right: 54px;
  transform: scaleY(-1) scaleX(-1);
}

.leftPot {
  left: 54px;
}

.rightPot,
.leftPot {
  position: relative;
  width: 300px;
  height: auto;
}
