/* FoodTimer */
#foodTimerContainer {
  margin-top: 10px;
  margin-left: 10px;
}

.timerComponent {
  border: black solid 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(35, 35, 35, 0.6);
  height: 1.5em;
  font-size: 0.6em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  z-index: 1;
}

#foodTimerContainer > .timerComponent {
  width: 75vw;
}

#simpleCookedItems {
  padding-top: 24px;
}

#simpleCookedItems > .timerComponent {
  font-size: small;
}

.itemName {
  width: 12em;
  text-align: start;
}

.timerInformation {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

@media (max-width: 600px) {
  .timerInformation {
    gap: 0em;
  }

  .itemName {
    width: 10em;
  }
}
